<div class="container">
  <div class="grid">

    <div class="col-12">
      <h1>Pessoas</h1>
    </div>

    <div class="col-12 p-fluid">
      <label>Nome</label>
      <input pInputText type="text">
    </div>

    <div class="col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="grid">
      <div class="col-12">
          <p-table 
          [value]="pessoas" 
          [tableStyle]="{ 'min-width': '50rem' }"
          [paginator]="true"
          [rows]="8"
          class="tabela-customizada">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Nome</th>  
                      <th>Cidade</th>
                      <th>Estado</th>
                      <th>Status</th>      
                      <th></th>              
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-pessoa>
                  <tr>
                    <td class="col-pessoa">{{pessoa.nome}}</td>
                    <td class="col-pessoa">{{pessoa.cidade}}</td>
                    <td class="col-pessoa">{{pessoa.estado}}</td>
                    <td class="col-pessoa"><a href="javascript:;" pTooltip="{{pessoa.ativo?'Desativar':'Ativar'}}" tooltipPosition="top">
                        {{pessoa.ativo===true?"Ativo":"Inativo"}}
                    </a></td>
                    <td class="col-button">
                      <a pButton class="ico" pTooltip="Editar" tooltipPosition="top">
                        <i class="fa-solid fa-pencil"></i>
                      </a>
                      <button pButton class="ico" pTooltip="Excluir" tooltipPosition="top">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
      <div class="col-12">
        <a pButton label="Nova Pessoa"></a>
      </div>
  </div>

</div>