
<p-table 
[value]="lancamentos" 
[tableStyle]="{ 'min-width': '50rem' }"
[paginator]="true"
[rows]="8"
class="tabela-customizada">
    <ng-template pTemplate="header">
        <tr>
            <th>Pessoa</th>  
            <th>Descrição</th>
            <th>Vencimento</th>
            <th>Pagamento</th>
            <th>Valor</th>      
            <th></th>              
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lancamento>
        <tr>
        <td class="col-pessoa">{{lancamento.pessoa}}</td>
        <td class="col-descricao">{{lancamento.descricao}}</td>
        <td class="col-data">{{lancamento.dataVencimento | date:'dd/MM/y'}}</td>
        <td class="col-data">{{lancamento.dataPagamento | date:'dd/MM/y'}}</td>
        <td class="col-valor"> <span [ngStyle]="{color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">
            {{lancamento.valor | currency:'BRL':'symbol':'1.2-2'}}
        </span></td>
        <td class="col-button">
            <a pButton class="ico" pTooltip="Editar" tooltipPosition="top">
            <i class="fa-solid fa-pencil"></i>
            </a>
            <button pButton class="ico" pTooltip="Excluir" tooltipPosition="top">
            <i class="fa-solid fa-trash"></i>
            </button>
        </td>
        </tr>
    </ng-template>
</p-table>