/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
}
label{
    font-weight: bold;
}

@media (min-width: 1770px){
    .container{
        width: 1750px;
        margin: 0 auto;
    }
}
@media (max-width: 1770px){
    .container{
        margin: 0 10px;
    }
}

.tabela-customizada table {
  border-collapse: collapse;
  width: 100%;
}

.tabela-customizada th,
.tabela-customizada td {
  border: 1px solid #ccc;
  padding: 8px;
}

.tabela-customizada tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* efeito zebra */
}

.tabela-customizada tbody tr:hover {
  background-color: #e0e0e0; /* efeito hover */
}

th {
  background-color: #DEDEDE;
  color: #333;
  text-align: center;
}