<nav class="navbar">
    <div class="container">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa-solid fa-bars"></i></a>
    </div>

    <ul class="navbar-menu" [hidden]="!exibindoMenu">
        <li class="navbar-user">Igor Vendramini</li>
        <li class="navbar-menu-item"><a href="#">Lançamentos</a></li>
        <li class="navbar-menu-item"><a href="#">Pessoas</a></li>
        <li class="navbar-menu-item"><a href="#">Logout</a></li>
    </ul>
</nav>